<a href="https://colab.research.google.com/github/CristianoDataScience/Analise-Estat-stica-Enem_2019/blob/main/Distribuicao_discreta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Distribuição Discreta

In [1]:
import numpy as np
import pandas as pd

In [3]:
enem_sp = pd.read_csv('/content/drive/MyDrive/curso estatistica/enem_2019_tratado.csv',
                      sep=',', encoding='iso-8859-1')
enem_sp.head()

,NU_INSCRICAO,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,"1,90E+11",Santa Isabel,22,M,1,parda,1,1,nao_respondeu,NaN,...,600.2,Ingles,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,"1,90E+11",São Paulo,17,F,1,parda,1,2,privada,15567761.0,...,731.8,Ingles,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Nao
2,"1,90E+11",São Bernardo do Campo,19,M,1,parda,1,2,publica,35904958.0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,"1,90E+11",Embu-Guaçu,17,F,1,parda,1,2,publica,NaN,...,419.2,Ingles,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,"1,90E+11",Guarulhos,23,F,1,branca,1,1,nao_respondeu,NaN,...,796.1,Ingles,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

## Distribuição Binomial

In [4]:
from scipy.stats import binom

In [5]:
# Probabilidade de retirar uma mulher
mulher_enem = enem_sp.loc[enem_sp.SEXO == 'F']

In [6]:
p = len(mulher_enem) / len(enem_sp)
p

0.5803136376365163

### Informação
* binom.pmf = valor pontual
* binom.cdf = faixa de valores (acumulada)

In [8]:
# Prpbabilidade de retirar extamente 4 mulheres num total de 10 amostras

binom.pmf(4,10,p)

# Primeiro parâmetro: Valor ou limite que pretendo calcular
# Segundo: número de tentativas
# Terceiro: probabilidade de um sucesso.

0.13014261971434243

In [9]:
# Probabilidade de retirar pelo menos uma mulher num total de 10 amostras

p0 = 1 - binom.pmf(0,10,p)
p0

0.9998304692157152

In [10]:
# Probabilidade de retirar mais do que 1 mulher num total de 10 amostras
p1 = 1 - (binom.pmf(0,10,p)+binom.pmf(1,10,p))
p1

0.997486313318782

In [12]:
# Probabilidade de retirar mais do que 3 mulher num total de 10 amostras
p2 = 1 - (binom.pmf(0,10,p)+binom.pmf(1,10,p)+binom.pmf(2,10,p)+binom.pmf(3,10,p))
p2

0.929117468512205

In [13]:
# Outra maneira
p3 = 1- binom.cdf(3,10,p)
p3

0.929117468512205

In [16]:
# Probabilidade de retirar mais do que 8 mulher num total de 10 amostras
p4 = (binom.pmf(9,10,p)+binom.pmf(10,10,p))
p4

0.0356563059595738

In [15]:
# Outra maneira
p5 = binom.cdf(10,10,p) - binom.cdf(8,10,p)
p5

0.03565630595957381

## Distribuição Geométrica

In [17]:
from scipy.stats import geom

In [18]:
# Probabilidade de retirar 3 amostras e nehuma ser mulher
# geom.pmf(x,p) x representa a tentativa que se obteve sucesso e p a probabilidade

geom.pmf(4, p)

0.042898029955685306

## Distribuição de Poisson

In [19]:
from scipy.stats import poisson

In [20]:
# Num local de prova, 100 vestibulandos, normalmente terminaram a prova em 2 horas (tempo mínimo).
# Probabilidade de exatamente 90 vestibulandos terminarem a prova em 2h.

# poisson.pmf(x, m) x é a quantidade de ocorrência em estudo e m é a taxa de ocorrência.

poisson.pmf(90,100)

0.025038944623030353